/* vi designer id'et, logOut, til at være i en fixed position oppe i højre hjørne. Det betyder, at man altid vil kunne
logge ud, også selvom man scoller ned.  */
#logOut{


    position:fixed;
    right:1%;
    top:1%;
}

/*
Vi designer id'et, tilbage, til at være i en fixed position oppe i venstre hjørne. Det betyder, at man altid vil kunne
gå tilbage, også selvom man scroller ned.
 */
#tilbage{
    position:fixed;
    left: 1%;
    top: 1%;
}