#logUd{


    position:fixed;
    float: right;
    right:1%;
    top:1%;
}

/*
Vi designer id'et, tilbage, til at være i en fixed position oppe i venstre hjørne. Det betyder, at man altid vil kunne
gå tilbage, også selvom man scroller ned.
*/
#tilbage{
    position:fixed;
    left: 1%;
    top: 1%;
}


.header2 {
    padding: 40px;
    text-align: center;
    background: #4967AA;
    color: white;
}

.header2 h1 {
    font-size: 40px;
}

.container
{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 50px auto;
